---
title: "Collaborative Query engine for Link Traversal Query Processing in the context of the Solid Protocol"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Bryan-Elliott Tam', 'https://github.com/constraintAutomaton', '' %>

{:#affiliations}
- {:#myaffiliation} IDLab, Department of Electronics and Information Systems, Ghent University – imec

<%= section 'abstract' %>
</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %> <!-- 2 -->
  <%= section 'related_work' %> <!-- 2 -->
  <%= section 'research_question_hypothesis' %> <!-- 1 -->
  <%= section 'preliminary_results' %> <!-- 1 -->
  <%= section 'evaluation' %> <!-- 1 -->
  <%= section 'conclusion' %> <!-- 0.5 -->
</main>

<footer></footer>
