---
title: "Introducing Collaborative Link Traversal Query Processing in the Context of Structured Decentralized Environments"
---

<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Bryan-Elliott Tam', 'https://github.com/constraintAutomaton', '' %>

{:#affiliations}
- {:#myaffiliation} IDLab, Department of Electronics and Information Systems, Ghent University – imec

<%= section 'abstract' %>
</header>

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction' %> <!-- 2 -->
  <%= section 'related_work' %> <!-- 2 -->
  <%= section 'problem_statement' %> <!-- 2 -->
  <%= section 'methodology' %> <!-- 1 -->
  <%= section 'conclusion' %> <!-- 0.5 -->
  <%= section 'funding' %> 
</main>

<footer></footer>
